<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="span3 well">
    <form action="/register_fc" method="post">
      <legend>Request Facility to us!</legend>
    <form accept-charset="UTF-8" action="" method="post">
		<input class="span3" name="name" placeholder="Facility Name" type="text"> 
        <input class="span3" name="type" placeholder="Facility Type" type="text">
        <input class="span3" name="loc_lat" placeholder="Location latitude" type="text">
        <input class="span3" name="loc_lon" placeholder="Location longitude" type="text">
        <input class="span3" name="contact" placeholder="Contact" type="text">
        <button class="btn btn-warning" type="submit">Request Facility</button>
    </form>
    </form>
</div>